* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
}

.txt_h span {
    color: #EEF2CE;
}

:root {
    --font-1: "Le Murmure", sans-serif;
    --font-2: "Inter", sans-serif;
}

body {
    max-width: 1440px;
    background-color: #164038;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    max-height: 650px;
    margin: 0 auto;
}

/*nav bar*/
.hamburger {
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 4px;
    position: relative;
    transition: 0.3s;
}

nav {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


/* Home */
.home  {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        max-height: 650px;
        margin: 0 auto;
    }


.all_txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.txt_h {
    max-width: 722px;
}

.txt_h h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-2);
    font-size: 20px;
    color: white;
    margin: 0;
}

.txt_h h1 {
    font-family: var(--font-1);
    font-size: 128px;
    color: #EEF2CE;
    margin-top: -15px;

}

.txt_h h2 {
    font-family: var(--font-2);
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-size: x-large;
}

.txt_h p {
    font-family: var(--font-2);
    font-size: 16px;
    width: 633px;
    color: white;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 521px;
}

.bt-1 {
    border-radius: 15px;
    padding: 15px;
    background-color: #F27D72;
    color: white;
    font-family: var(--font-2);
}

hr {
    width: 83px;
    height: 5px;
    background-color: #F27D72;
    border: none;
    border-radius: 50px;
    position: relative;
    right: 22px;
}

.bt-2 {
    font-family: var(--font-2);
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.txt_d p {
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 8px;
    color: white;
    position: relative;
    top: 120px;
}

/*Aboute*/


.abolte{
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 650px;
    margin: 0 auto;
    background-color: #0B1F2A;
}

.all_txt_ab{
    width: 659px;
    height: 253px;
    padding:10px;
}

.txt_ab h1 {
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 60px;
    color: #F27D72;
}

.txt_ab p {
    font-size: var(--font-2);
    font-weight: 300;
    font-size: 18px;
    color: white;
}